<nav class="navbar navbar-expand-lg navbar-light bg-none">
  <div class="container-fluid justify-content-center">
    <div class="navbar" id="navbarNavDropdown">
      <ul class="navbar-nav  justify-content-center">
        <a href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
          aria-expanded="false">

          <a aria-current="page" href="#"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas"
            aria-label="Close">Добавить событие</button></a>


            <script>
              function AdminRedirect() {
                location = "/admin";
              }
            </script>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>