<nav class="navbar navbar-expand-lg navbar-light bg-none">
  <div class="container-fluid justify-content-center">
    <div class="navbar" id="navbarNavDropdown">
      <ul class="navbar-nav  justify-content-center">
        <a href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
          aria-expanded="false">
          <button type="button" class="btn btn-custom btn-custom-header btn-custom-header-side">ХПЧ</button>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a aria-current="page" href="#main"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas"
            aria-label="Close">Свет</button></a></li>
            <li><a aria-current="page" href="#main"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas"
            aria-label="Close">Звук</button></a></li>
            <li><a aria-current="page" href="#main"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas"
            aria-label="Close">Видео</button></a></li>
            <li><a aria-current="page" href="#main"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas"
            aria-label="Close">Машинисты</button></a></li>
            <li><a aria-current="page" href="#main"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas"
            aria-label="Close">Реквизит</button></a></li>
            <li><a aria-current="page" href="#main"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas"
            aria-label="Close">Грим</button></a></li>
            <li><a aria-current="page" href="#main"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas"
            aria-label="Close">Костюм</button></a></li>
          
        </ul>
        <li class="nav-item">
          <a href="/spects"><button type="button" class="btn btn-custom btn-custom-header btn-custom-header-side">Спектакли</button></a>
        </li>

        {% if request.user.is_staff %}
        <li class="nav-item dropdown">
          <a href="#" id="navbarDropdownMenuLink1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <button type="button" class="btn btn-custom btn-custom-header btn-custom-header-side">Инструменты</button>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" style="min-width: 12rem;">




            <li><a class="nav-link active" aria-current="page" onclick="AdminRedirect();" href="#"
                  target="_top"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas" aria-label="Close">Админ-страница</button></a></li>
            <li><a class="nav-link active" aria-current="page" href="?command=go_parsing"
                target="_top"><button type="button" class="btn btn-custom" data-bs-dismiss="offcanvas"
                aria-label="Close">Расписание с сайта</button></a></li>


            <script>
              function AdminRedirect() {
                location = "/admin";
              }
            </script>

          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>