{% extends 'main/layout.html' %}

{% block title %} Личный кабинет {% endblock %}





{% block main %}

<div class="row" style="margin-top: 150px;">
    <div class="col">

            <h3 style="text-align: center;">Эта информация доступна только сотрудникам. Вы сможете попасть в этот раздел после подтверждения учетной записи. </h3>

        
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button class="btn btn-primary" onclick="location='/'">Вернуться на сайт</button>
        </div>

    </div>
 

       

</div>

{% endblock %}