@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



:root {
  /*  --base-color: rgba(185,182,219,1); */
     --base-color: rgb(161, 159, 186);

    --text-color:  rgba(0,0,0,1);

    --contrast-color: #fff;

    --accent-color: #f00;

    --bs-purple: #d2cef5;

    --bs-btn-hover-color: #bbb5f3;
    --text-hover-color: #6454f5;

    --text-color: #000;
    --shadow-color: rgb(82, 65, 236);
    --bg-color-today: #07bc25;
}


/*=============================================General===============================================*/
h1, h3 {
    color: #424040;
    text-shadow: 1px 1px 2px rgb(248, 248, 248);
}

h6 {
    color: #424040;
    text-shadow: 1px 1px 2px rgb(248, 248, 248);
    margin-bottom: 0px;
}
.workers {
    color: #313030;
    text-shadow: 1px 1px 2px rgb(203, 190, 179);
    margin-bottom: 0px;
}

html, body{
    height: 100%;
}
a {
    text-decoration: none;
    transition: .15s ease-in-out;
}
.nav-link{
    color: #fff;
}
.active{
    color: #fff;
}
.linkNbtn :hover{
    text-shadow: 4px 4px 4px rgb(249, 237, 163);
    transition: .15s ease;
}
.linkNbtn {

    transition: .15s ease;

}

.lnkPhone{
    color: #1200b0;
}

.lnkPhone:hover {
    color: #1900fd;
    font-size: 1.1rem;
    transition: 0.3s ease;
}


body{
    min-width: 334px;
    font-family: "Roboto", sans-serif;
    background-color: var(--base-color);
    
}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main.main{
    flex: 1 1 auto;
    position: relative;
}
footer.footer{
    position: relative;
}


  .btn-custom {
    color: #fff;
    background-color: #624ba7;
    border-color: #0d6efd;
    width: 15rem;
    margin-bottom: 0.2rem;
    text-shadow: 0.5px 0.5px 0px rgb(2, 251, 255);
  }
  .btn-custom:hover{
    color: rgb(246, 251, 143);
    background-color: #3c2f61;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
  }

  .btn-custom-header{
    width: 7rem;
    margin-bottom: 0px;
    height: 1.5rem;
    font-size: small;
    padding: 0;
    margin-right: 1rem;
  }
  .btn-custom-header-user{

    margin-bottom: 16px;
 
  }

  .btn-custom-header-side{
    margin-bottom: 1rem;
  }

  .btn-custom-delete {
    color: #fff;
    background-color: #ff0000;
    border-color: #0d6efd;
    width: 3rem;
    text-shadow: 0.5px 0.5px 0px rgb(164, 44, 72);
  }
  .btn-custom-delete:hover{
    color: rgb(255, 255, 255);
    background-color: #951d1d;
    text-shadow: 0.5px 0.5px 0px rgb(255, 255, 255);
  }
  .btn-primary {
    margin-top: 1rem;
    background-color: #4b4266;
    text-shadow: 0.5px 0.5px 0px rgb(2, 251, 255);
  }

 .show{
    background-color: #c4c0e8;
    --bs-dropdown-border-width: none;

  }
  .show li {
margin-top: .1rem;

  }
  .show li:hover {
    color: rgb(24, 4, 203);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0, .1);
    
      }


  .button:hover {
    color: #000;
    background-color: #000;
  }
  .btn-menu {
    --bs-btn-color: #fff;
    --bs-btn-bg: ##d2cef5;
    --bs-btn-border-color: #d2cef5;
    --bs-btn-hover-color: #bbb5f3;
    --bs-btn-hover-bg: #bbb5f3;
    --bs-btn-hover-border-color: #bbb5f3;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #bbb5f3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d2cef5;
    --bs-btn-disabled-border-color: #d2cef5;
  }
/*=============================================General===============================================*/

/*=============================================Header===============================================*/
header {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0, .2);
}
.fixed-top {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0, .2);
}
.logo-test img{
    width:  70px;
    height: 50px;
}
header .row {
    background-color: #d2cef5;
}
#uslugi-btn {
    display: flex;
}
.offcanvas-wrapper .btn-link{
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-padding-y: 0.375rem;
        --bs-btn-font-family: ;
        --bs-btn-font-size: 1rem;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        --bs-btn-color: var(--bs-body-color);
        --bs-btn-bg: transparent;
        --bs-btn-border-width: var(--bs-border-width);
        --bs-btn-border-color: transparent;
        --bs-btn-border-radius: var(--bs-border-radius);
        --bs-btn-hover-border-color: transparent;
        --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
        --bs-btn-disabled-opacity: 0.65;
        --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
        display: inline-block;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        font-family: var(--bs-btn-font-family);
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--bs-btn-color);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
        border-radius: var(--bs-btn-border-radius);
        background-color: var(--bs-btn-bg);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
.nav-link {
    padding: 0rem 0rem;
}

#offcanvasTop {
    background-color: #d2cef5;
}

.offcanvas-header  {
    box-shadow: 0px 2px 3px 0px rgba(0,0,0, .2);
}
/*=============================================Header===============================================*/

/*=============================================Main===============================================*/
.main >* {
    margin-top: 70px;
}

.w-80{
    width: 80% !important;
}


@media only screen and (max-width : 575px) {
    .main-text {
        margin-top: 20px;
    }
}
p .day {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


